.section {
text-align: center;
max-width: 1170px;
margin: 0 auto;
width: 90vw;
}

%button{
    display: inline-block;
    padding: .75rem 1.5rem;
    border-radius: 1.5rem; 
    transition: .3s;
    box-shadow: 0 4px 4px rgba(0,0,0,.1);
}

body{
    background: url(../images/bg-tablet-pattern.svg) top center no-repeat, $very-light-gray;
    background-size: 100% 420px;
}
header {
    max-width: 1170px;
    margin: 0 auto;
    width: 90vw;
    height: 64px;
      padding: 2.5rem 0.5rem;
   
    background:transparent;
    

    #menu {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    #hamburger {
        cursor: pointer;
    }

    #close {
        display: none;
        cursor: pointer;
    }

    button {
        @extend %button;

        display: none;
    }
}

nav {
    margin-top: 4.2rem;
    padding: 2rem;
    background-color: #fff;
    border-radius: 5px;
    display: none;

    a{
        display:block;
        text-align: center;
        margin-top: 2rem;
        color: $very-dark-blue;
        font-weight: $thick-font;
    }
}

.intro{
  min-height: 50vh;
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
  margin-bottom: 4rem;

  button{
    padding: .75rem 1.5rem;
    font-weight: $thick-font;
    border-radius: 1.5rem; 
    background: $first-color;
    color: $very-light-gray;
    border: none;
    cursor: pointer;
    &:hover{
        background: hsla(12, 88%, 59%, 0.643);
    }
  }

  h1{
      font-size:2.5rem;
  }
}

.about{
    // &__item{
    //         display: flex;
    //         justify-content: space-between;
    //         margin-bottom: 2rem;
    //         span{
    //             color: $very-light-gray;
    //             background-color: $first-color;
    //             font-weight: $thick-font;
    //             border-radius: 3rem;
    //             padding: 0.5rem 1rem;
    //             height: 2.5rem;
    //             margin-right: 2rem;

                
               
    //         }
    //         h4{
    //             text-align: left;
    //         }
    //         p{
    //             text-align: left;
                
    //         }
    //     }

        h2{
            font-size: 2rem;
            color: $text-color;
        }
    .about__card{
        position: relative;
        z-index: 999;
        margin-bottom: 3rem;
        p{
            margin-left: 5.5rem;
            text-align: left;
        }


        &-top{
            margin-bottom: 0.5rem;
            background: hsl(13, 100%, 96%);
            margin-left: 1rem;
            border-top-left-radius: .75rem;
            border-bottom-left-radius: .9rem;
            display: flex;
            
        }
        &-number{
        width: 3.5rem;
        height: 2rem;
        background: hsl(12, 88%, 59%);
        margin-left: 1rem;
        margin-right: 1rem;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #fff;
        font-weight: 700;
        border-radius: 1.5rem;
        margin-left: 0;
        
        }


        &-heading{
        font-size: 1rem;
        font-weight: 700;
        margin-bottom: .75rem;
        color: hsl(228, 39%, 23%);
        }

        &-heading{
            padding-top: .25rem;
        }
    }
}


.swiper-container {
    width: 100%;
    height: 350px;
    display: flex !important;
    justify-content: center !important;
}
.swiper-wrapper{
    overflow: visible !important;
}
 
.swiper-slide{
   
    width: 35rem !important;
    height: 100% !important;
    display: flex;
    align-items: center;
    justify-content: center;
}
.swiper-card{
    
  
    background: hsl(0, 0%, 98%);
    height: 70%;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: .65rem;
    overflow: visible !important;
}
.swiper-slide-container{
    width: 100%;
    height: 70%;
    background: hsl(0, 0%, 98%);
    border-radius: .75rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.swiper-slide .heading{
     color: $text-color;
    margin-top: 1rem;
    width: 70%;
    font-size: 1rem !important;
    margin-bottom: .25rem !important;
}
.swiper-slide .info{
    margin-top: 1rem;
    width: 80%;
    font-size: 1rem;
}
.avtar{
    width: 55px;
    height: 55px;
    position: absolute;
    transform: translate(0, -7.5rem);
}
// .testimonials .heading{
//     color: $text-color;
//     font-size: 2.25rem;
//     margin-bottom: .75rem !important;
//     text-align: center;
//     position: relative;
//     z-index: 999999999;
// }
// .testimonials .info{
//     font-size: .85rem;
// }


.swiper-pagination-bullet{
    background: transparent !important;
    border: 1px solid hsl(12, 88%, 59%);
}
.swiper-pagination-bullet-active{
    border: none;
    background: hsl(12, 88%, 59%) !important;
}
.swiper-pagination{
        display: initial !important;
    }

.testimonial{

    .section-heading, .testimonial-btn{
        display: flex;
        justify-content: center;
    }
    .testimonial-btn{
        margin-top: 1rem;
    }
    h2{
        color: $text-color;
        text-align: center;
    }


button{
    padding: .75rem 1.5rem;
    border-radius: 1.5rem; 
    background: $first-color;
    font-weight: $thick-font;
    color: $very-light-gray;
    border: none;
    cursor: pointer;
   
    &:hover{
        background: hsla(12, 88%, 59%, 0.643);
    }
    
}

}

.more{
    background: url(../images/bg-simplify-section-mobile.svg);
    background-repeat: no-repeat;
    margin-top: 5rem;
    background-color: $first-color;
    padding: 8rem 1rem;
    &__inner{
        text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    }

    h2{
        color: $very-light-gray;
    }
    button{
    padding: .75rem 1.5rem;
    border-radius: 1.5rem; 
    background: $very-light-gray;
     font-weight: $thick-font;
    color: $first-color;
    border: none;
    cursor: pointer;
    &:hover{
        color: hsla(12, 88%, 59%, 0.643);
    }
    }
    
}

footer{
    padding: 3rem 0 0.5rem 0;
    background-color: $second-color;
    p{
        margin-top: 1rem;
        text-align: center;
        font-size: 0.7rem;
    }
a{
    color:$very-light-gray;
}
ul{
    margin: 1rem;
}
li{
    margin-top: 0.5rem;
    text-align: left;
}
    .footer__container{
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-between;
    }

    .links{
        display: flex;
        justify-content: center;
        
    }
    .first-links{
        margin-right: 2.5rem;
    }
    .logos{
        display: flex;
        flex-direction: column-reverse;
    }
    .social-links{
        cursor: pointer;
        margin: 1rem 0;
        svg path:hover{
            fill: $first-color;
        }
    }
    .footer-logo svg path{
    fill:$very-light-gray
    }
    input{
        padding: 0.5rem ;
        border-radius: 3rem;
        border: none;
        
    }
    button{
        padding:0.6rem 0.9rem;
        border-radius: 3rem;
        background-color: $first-color;
        color: $very-light-gray;
        font-weight: $thick-font;
        border: none;
        margin-left: 1rem;
        cursor: pointer;
        &:hover{
        background-color: hsla(12, 88%, 59%, 0.643);
    }
    }
    form{
        display: flex;
        justify-content: center;
    }
    .contact__error-message{
        display: none;
        color: $first-color;
    }
    .desktop-copyright{
        display: none;
    }
}